{
  "extends": ["react-app", "plugin:prettier/recommended"], // prettier plugin을 lint로서 따른다는 것
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
      },
    ],
  },
  "env": {
    "browser": true, // document, window 등의 브라우저 내장 객체들 조회시 ESLint 오류 없이 작업
  },
}
