$pink1-color: #ffd4e1;
$pink2-color: #ff89ac;

$blue1-color: #bac1ff;
$blue2-color: #50578f;

$bk-color: #000000;

@font-face {
  font-family: 'DungGeunMo';
  font-weight: normal;
  src: url('../assets/fonts/DungGeunMo.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-color: $bk-color;
  font-family: 'DungGeunMo', serif;
}

* {
  font-family: 'DungGeunMo', serif;
}
