$pink1-color: #ffd4e1;
$pink2-color: #ff89ac;

$blue1-color: #bac1ff;
$blue2-color: #50578f;

$bk-color: #000000;

body {
  margin: 0;
  padding: 0;
  background-color: $bk-color;
  // color: white;
  font-family: 'Jersey 15', serif;
}
