.ranking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 상단에서 시작 */
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f2f3fd;
}

.ranking-banner {
  position: relative;
  z-index: 2; /* 배너를 위에 보이게 설정 */
  margin-bottom: -120px; /* 파란 박스와 겹치도록 조정 */
}

.ranking-banner img {
  width: 600px; /* 배너 크기 조정 */
}

.ranking-box {
  position: relative;
  z-index: 1; /* 배너 아래에 보이도록 설정 */
  width: 90%;
  max-width: 850px;
  height: 700px;
  background-color: #007bff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: top;
  padding: 0px; /* 내부 여백 */
}

.ranking-content {
  width: 130%;
  max-width: 700px;
  text-align: center;
  color: #fff;
  margin-top: 50px; /* 순위표 시작 위치를 아래로 이동 */
}

.ranking-content h3 {
  list-style: decimal; /* 숫자 순위 */
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px; /* 간격을 20px로 변경 */
  line-height: 1.5; /* 줄 높이를 조정 */
}
