.user-list {
  display: grid;
  grid-template-columns: repeat(4, 380px); /* 4개의 열 */
  grid-template-rows: repeat(2, 150px); /* 2개의 행 */
  gap: 40px 30px; /* 열 간격 20px, 행 간격 30px */
  justify-items: start; /* 열 아이템을 왼쪽 정렬 */
  align-items: start; /* 행 아이템을 위쪽 정렬 */
  padding: 0;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f3f5d0; /* 박스 색상 */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 370px;
  height: 150px;
}

.empty-box {
  background-color: #f3f5d0;
  box-shadow: none;
  width: 370px;
  height: 150px;
}

.user-name {
  font-size: 1.9rem; /* User 이름 폰트 크기 */
  font-weight: bold;
}

.user-status {
  font-size: 1.5rem; /* Ready/Not Ready 상태 폰트 크기 */
  color: #555;
  margin-top: 5px;
}
