.ready-container {
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ready-header {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  position: absolute;
  top: 3vw;
  right: 10vw;
}

.ready-main {
  flex: 4.5;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 5vw;
  }
  .ready-user-list {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(2, 20vh);
    gap: 20px;
    padding: 0px;
  }
  .ready-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f2f3dd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
}

.ready-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 2;
  padding: 0px 40px;
}

.user-name {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #f9b941;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-status {
  font-size: 1.2rem;
  color: #555;
}

.chat-box {
  flex: 3.6;
  background-color: #fff6c980;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 3;
  overflow-y: auto;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.chat-input-container {
  flex: 1;
  display: flex;
}

.chat-input {
  flex: 2;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.send-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #97d24b;
  color: white;
  cursor: pointer;
}

.settings-play-container {
  flex: 1.5;
  display: flex;
  flex-direction: column; /* 방설정과 PLAY 버튼을 세로로 배치 */
  align-items: center;
}

.room-settings {
  flex-direction: column; /* 내부 요소 세로 정렬 */
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem; /* 일반 텍스트 크기 */
  text-align: center; /* 텍스트를 왼쪽 정렬 */
}
