.Logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alpabet {
  width: 60px;
  height: 60px;
}

.text-btn,
.dark_text-btn {
  text-align: center;
}

.dark_text-btn {
  .alpabet {
    width: 30px;
    height: 30px;
  }
}
