.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.player-info-image {
  width: 50px;
  height: 50px; /* 추가로 높이를 명시적으로 설정 */
  margin-bottom: 10px;
  border-radius: 50%; /* 이미지를 둥글게 표시 */
  object-fit: cover; /* 이미지가 비율을 유지하며 잘리거나 왜곡되지 않도록 설정 */
}

.player-info-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.player-info-score {
  font-size: 14px;
  color: #555;
  margin: 0;
}
